{% extends "base.html" %}

{% block styles %}
.topnav {
    overflow: hidden;
    background-color: darkslategrey;
    }

    .topnav input[type=text] {
        font-size: 100%;
    }
    
    @media screen and (max-width: 600px) {
        .topnav input[type=text] {
            display: block;
            text-align: left;
            width: 100%;
            border: 0.1cm;
        }
    }
{% endblock %}

{% block extraHead %}
    <div class = "topnav">
        <div style = "float: right">
            <form action = "">
                <input type = "text" name = "searchBy" placeholder = "Search..." value = "{{request.GET.searchBy}}">
                <input type = "submit" value = "Search">
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 style = "color: aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding: 1cm; padding-top: 3cm; font-size: 150%;">
        <b>
            Tryouts
        </b>
    </h1>

    <a href = "{% url "creation" %}" style = "color: aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding-top: 2cm; font-size: 150%;">
        <div class = "container" style = "background-color: indianred; width: 10cm; padding: 1cm; height: 2.5cm; align: center; text-align: center; word-wrap: break-word;">
            Create New Tryout
        </div>
    </a>

    {% if tryoutList %}
        {% for tryout in tryoutList %}
        <div style = "background-color: indianred; margin-top: 0.5cm; border: 1cm;">
            <a href = "{% url "tryoutDetails" tryout.id %}">
                <b style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding: 0.25cm; font-size: 100%; white-space:nowrap;">
                    {{ tryout.tryoutName }} || Questions: {{ tryout.tryoutNums }} || Category: {{ tryout.tryoutCategory }} || Date of Creation: {{ tryout.creationDate}}
                </b>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <b style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding: 0.125cm; font-size: 100%;">
            No quiz to show
        </b>
    {% endif %}

{% endblock %}