{% extends "base.html" %}

{% block styles %}
    .questionNum {
        color: aliceblue; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        text-align: left; 
        padding-top: 1cm; 
        font-size: 200%;
    }

    .main {
        color: aliceblue; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        text-align: left; 
        font-size: 100%; 
        padding-top: 2cm;
    }
{% endblock %}

{% block content %}
    <div class = "questionNum">
        <h1>
            Question Number {{ questionId }}
        </h1>
    </div>

    <!-- tombol untuk kembali ke TryoutDetails dan berhenti membuat soal -->
    <div>
        <a href = "{% url "questionDetails" tryoutId %}" style = "background-color: indianred; color: aliceblue; font-size: 150%; padding: 0.125cm;">
            Back 
        </a>
    </div>

    <form method = "POST" class = "main">
        {% csrf_token %}
        <!-- meminta soal -->
        <div>
            <label>
                Question:
            </label>
            <input type = "text" name = "question" placeholder = {{ editorForm.questionTxt }} value = "{{request.GET.question}}">
        </div>

        <!-- meminta jawaban yang benar -->
        <div>
            <label>
                Correct answer:
            </label>

            <input type = "radio" id = "answer" name = "{{ answer }}" value = "True">
            <label for = "answer"> True </label>

            <input type = "radio" id = "answer" name = "{{ answer }}" value = "False">
            <label for = "answer"> False </label>
        </div>

        <input type = "submit" value = "Edit">

        <!-- tombol untuk hapus soal -->
        <div style = "background-color: indianred; margin: 1cm; max-width: 4cm;">
            <a href = "{% url "deleteQuestion" tryoutId questionId %}">
                <b style = "text-align: center; margin: 0.5cm; color: aliceblue;">
                    Delete
                </b>
            </a>
        </div>

    </form>
{% endblock %}