{% extends "base.html" %}

{% block styles %}
    .details {
        color: aliceblue; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        text-align: left; 
        padding-top: 2cm; 
        height: fit-content;
    }
{% endblock %}

{% block content %}
    <div class = "details">
        <h1 style = "font-size: 200%;">
            Tryout Creation Form
        </h1>

        <form method = "POST" style = "font-size: 100%;">
            {% csrf_token %}
            <!-- meminta nama tryout -->
            <div class = "tryoutName">
                <label>
                    Tryout Name:
                </label>
                {{ editorForm.tryoutName }}
            </div>

            <!-- meminta deskripsi tryout -->
            <div class = "tryoutDesc">
                <label>
                    Tryout Description:
                </label>
                {{ editorForm.tryoutDesc }}
            </div>

            <!-- menampilkan daftar pilihan kategori -->
            <div class = "tryoutCategory">
                <label>
                    Tryout Category:
                </label>
                {{ editorForm.tryoutCategory }}
            </div>

            <input type = "submit" value = "Edit">
        </form>
    </div>
{% endblock %}