{% extends "base.html" %}

{% block content %}
    <h1 style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding-top: 2cm; font-size: 200%;">
        Tryout Creation Form
    </h1>

    <form method = "POST" style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%; padding-top: 2cm;">
        {% csrf_token %}
        <!-- meminta nama tryout -->
        <div class = "tryoutName">
            <label>
                Tryout Name:
            </label>
            {{ editorForm.tryoutName }}
        </div>

        <!-- meminta deskripsi tryout -->
        <div class = "tryoutDesc">
            <label>
                Tryout Description:
            </label>
            {{ editorForm.tryoutDesc }}
        </div>

        <!-- menampilkan daftar pilihan kategori -->
        <div class = "tryoutCategory">
            <label>
                Tryout Category:
            </label>
            {{ editorForm.tryoutCategory }}
        </div>

        <input type = "submit" value = "Edit">
    </form>
{% endblock %}