{% extends "base.html" %}

{% block content %} 
    <h1 style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; padding-top: 2cm; font-size: 200%;">
        <b>
            {{ tryoutViewed.tryoutName }}
        </b>
    </h1>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%; padding-top: 1cm;">
        Date of creation:
        {{ tryoutViewed.creationDate }}
    </p>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%;">
        Category:
        {{ tryoutViewed.tryoutCategory }}
    </p>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%;">
        Number of questions: 
        {{ tryoutViewed.tryoutNums }}
    </p>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%;">
        Tryout description:
        {{ tryoutViewed.tryoutDesc }}
    </p>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; font-size: 100%;">
        Tryout submission status:
        {% if tryoutViewed.workedOn == True %}
            Has been worked on
        {% else %}
            No work recorded
        {% endif %}
    </p>

    <p style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; margin: 0.5cm; font-size: 100%;">
        Edit tryout
    </p>

    <div style = "background-color: indianred;  margin: 1cm; width: 5cm;">
        <a href = "{% url "editor" tryoutViewed.id %}">
            <b style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; margin: 0.5cm; font-size: 100%; word-wrap: break-word;">
                Edit Tryout
            </b>
        </a>
    </div>

    {% if tryoutViewed.workedOn == False %}
        <div style = "background-color: indianred; margin: 1cm; width: 5cm;">
            <a href = "{% url "questionDetails" tryoutViewed.id %}">
                <b style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; margin: 0.5cm; font-size: 100%; word-wrap: break-word;">
                    View Questions
                </b>
            </a>
        </div>

    {% endif %}

    <div style = "background-color: indianred; margin: 1cm; width: 5cm;">
        <a href = "{% url "delete" tryoutViewed.id %}">
            <b style = "color:aliceblue; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; margin: 0.5cm; font-size: 100%; word-wrap: break-word;">
                Delete Tryout
            </b>
        </a>
    </div>

{% endblock %}